body{
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

/* code{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.tooltip{
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgb(249, 15, 22);
  margin-left: 45%;
  margin-top: 25%;
  cursor: pointer;
}

/* styling for tooltip text when props pass as top */
.tooltip .tooltiptext-top{
  visibility: ;
  background-color: #1acbe6;
  color: #c2f820;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 200px;
  bottom: 100%;
  left: 50%;
  margin-left: -90%;
}

/* show the tooltip text when mouse over the tooltip container  */
.tooltip:hover .tooltiptext-top{
  visibility: visible;  
}

                /* ---Top--- */
/* styling for the arrow of the tooltip when the props pass as top */
.tooltip .tooltiptext-top::after{
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(21, 231, 164, 0.622) transparent transparent transparent;
}

               /* ---Bottom--- */
/* styling for the tooltip text when props pass as bottom */
.tooltip .tooltiptext-bottom{
  visibility: hidden;
  margin-top: 10px;
  background-color: #1acbe6;
  color: #c2f820;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 200px;
  top: 100%;
  left: 50%;
  margin-left: -90%;
}

/* show the tooltip text when mouse over the tooltip container  */
.tooltip:hover .tooltiptext-bottom{
  visibility: visible;  
}

/* styling for the arrow of the tooltip when the props pass as bottom */
.tooltip .tooltiptext-bottom::after{
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(12, 214, 197) transparent;
}

                    /*---Left--- */
/* styling for the tooltip text when props pass as left */
.tooltip .tooltiptext-left{
  visibility: hidden;
  margin-right: 10px;
  background-color: #1acbe6;
  color: #c2f820;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 200px;
  top: -5px;
  right: 105%;  
}

/* show the tooltip text when mouse over the tooltip container */
.tooltip:hover .tooltiptext-left{
  visibility: visible;  
}

/* styling for the arrow of the tooltip when the props pass as left */
.tooltip .tooltiptext-left::after{
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(16, 220, 183);
}

                     /* ---Right--- */
/* styling for the tooltip text when props pass as right */
.tooltip .tooltiptext-right{
  visibility: hidden;
  margin-left: 10px;
  background-color: #1acbe6;
  color: #c2f820;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 200px;
  top: -5px;
  left: 105%;  
}

/* show the tooltip text when mouse over the tooltip container */
.tooltip:hover .tooltiptext-right{
  visibility: hidden;  
}

/* styling for the arrow of the tooltip when the props pass as right */
.tooltip .tooltiptext-right::after{
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgb(13, 216, 209) transparent transparent;
}
